.img-modal {
  width: 100%;
  height: 35vw;
  display: flex;
  justify-content: center;
}

.instrument-details {
  color: black;
  font-size: 4vw;
}
.instrument-modal {
}
@media screen and (min-width: 600px) {
  .instrument-details {
    color: black;
    font-size: 1.5vw;
  }
  .img-modal {
    width: 100%;
    height: 25vw;
  }
}
